/* HAI IT'S NICK */

html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, b, i, ol, ul, li, footer, header, hgroup {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: inherit;
  text-decoration: none;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  color: #3e3739;
  text-align: center;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background-color: #efebe3;
}

.name {
  font-family: "freight-big-pro";
  font-size: 54px;
  line-height: 1;
  letter-spacing: 0.25em;
  text-indent: 0.25em;
  font-weight: 400;
  font-style: italic;
  text-transform: uppercase;
  margin: 12rem 0 .5rem 0;
  padding: 0;
}

.game {
  font-family: "futura-pt";
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.25em;
  text-indent: 0.25em;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.ahalogy-link:hover,
.ahalogy-link:focus,
.ahalogy-link:active {
  color: #c31230;
  outline: none;
}

.social-links {
  list-style: none;
  margin: 3rem 0 0 0;
}

.social-links > li {
  display: inline-block;
  margin-right: 2.5em;
}

.social-links >li:last-child {
  margin-right: 0;
}

.social-link {
  display: inline-block;
  height: 20px;
  opacity: .25;
  text-indent: -999999px;
  overflow: hidden;
  background-image: url('images/social-links-sprite.png');
  background-size: 150px 20px;
  -webkit-transition: all .1s ease-in;
}

.social-link:hover,
.social-link:focus,
.social-link:active {
  opacity: 1;
  outline: none;
}

.twitter-link {
  width: 25px;
  background-position: 0 0;
}

.instagram-link {
  width: 20px;
  background-position: -30px 0;
}

.medium-link {
  width: 25px;
  background-position: -60px 0;
}

.dribbble-link {
  width: 20px;
  background-position: -90px 0;
}

.mail-link {
  width: 31px;
  background-position: -120px 0;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

hgroup,
.social-links,
.countdown {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;

  -webkit-animation-delay: .5s;
  -moz-animation-delay: .5s;
  animation-delay: .5s;
}

.daysLeftCountdown {
  background: black;
}

.countdownWrapper {
  position: fixed;
  bottom: 120px;
  right: 120px;
}
.countdown {
  font-family: "futura-pt";
  font-size: 120px;
  letter-spacing: 0.1em;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: white;
  text-align: center;
}

@media (max-width: 640px) {
  .name {
    font-size: 40px;
  }
}

@media (max-width: 480px) {
  .name {
    font-size: 40px;
    letter-spacing: 0.15em;
    text-indent: 0.15em;
    margin: 3rem 0 1rem 0;
  }
  .game {
    font-size: 14px;
    letter-spacing: 0.15em;
    text-indent: 0.15em;
  }
  .social-links > li {
    margin-right: 2em;
}