html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, b, i, ol, ul, li, footer, header, hgroup {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: inherit;
  text-decoration: none;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background-color: #FFFDF8;
  border-top: 4px solid #282725;
  font: normal 400 100% "le-monde-livre-std";
  color: #282725;
}

a {
  color: #AA6C39;
}

a:hover,
a:focus,
a:active {
  outline: none;
  border-bottom: 1px solid #AA6C39;
}

.stripe {
  margin: 0 auto;
  padding: 3rem 1.5rem;
}

.pageTitle {
  margin-bottom: 3rem;
  font-size: 1.125rem;
  letter-spacing: .25em;
  text-transform: uppercase;
  line-height: 1.4;
}

.headlineTwitter {
  color: inherit;
  white-space: nowrap;
}

.headlineTwitter:hover,
.headlineTwitter:focus,
.headlineTwitter:active {
  color: #AA6C39;
}

.headlineTwitter .commercialAt{
  display: inline-block;
  position: relative;
  bottom: .25em;
  font-size: .625rem;
  letter-spacing: .3em;
}

.listTitle {
  margin-bottom: .75rem;
  font-size: .75rem;
  font-weight: 700;
}

.now {
  list-style: none;
  font-style: italic;
  font-size: 1.125rem;
}

.now > li {
  margin-bottom: .75rem;
}

@media only screen and (min-width: 36rem) {
  .stripe {
    padding: 6rem;
  }
}
