/* PJ STRIET */

html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, b, i, ol, ul, li, blockquote, figure, figcaption, footer, header, hgroup {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: inherit;
  text-decoration: none;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background-color: #FFFFFF;
  font: normal 400 16px/150% "jaf-facitweb", sans-serif;
  color: #252522;
}

img {
  width: 100%;
  vertical-align: text-top;
}

.u-clearfix {
  zoom:1;
}

.u-clearfix:before,
.u-clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

.u-clearfix:after {
  clear: both;
}

a {
  color: #A82F30;
}

p,li {
  font-size: .875rem;
  font-weight: 400;
  margin-bottom: .875rem;
}

.icon {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  background-image: url("images/pj-icon-white.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 0 0;
  text-indent: -999999px;
  overflow: hidden;
}

header .icon {
  margin: 0 auto;
}

h1 {
  font-size: .75rem;
  font-weight: 800;
  text-transform: uppercase;
}

h2 {
  font-size: 1.5rem;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: .25rem;
}

h4 {
  font-size: .75rem;
  font-weight: 800;
  line-height: 1.2;
  text-transform: uppercase;
}

h5 {
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.2;
}

.stripe {
}

.stripe--hero {
  width: 100vw;
  height: 40vh;
  position: relative;
  background-color: #625656;
  background-image: url("images/pj-big-hero.jpg");
  background-size: cover;
  background-position: 100% 70%;
  -webkit-clip-path: polygon(100% 0%, 100% 100%, 0 85%, 0% 0%);
  clip-path: polygon(100% 0, 100% 0%, 50% 100%, 0 85%, 0% 0%);
}

.stripe--headline {
  text-align: center;
  width: 100vw;
  height: 51.5vh;
  position: relative;
}

.heroFaceFrame {
  width: 38%;
  height: 65%;
  border: 2px solid #A82F30;
  position: absolute;
  right: 7vw;
  bottom: 5vh;
}

.stripe--companies {
  background-color: #F4F4F4;
  text-align: center;
  margin-bottom: 2rem;
  -webkit-clip-path: polygon(100% 15%, 100% 100%, 0 85%, 0% 0%);
  clip-path: polygon(100% 0, 100% 15%, 50% 100%, 0 85%, 0% 0%);
  padding: 4rem 0;
}

.companyExamples {
  margin-top: 1.5rem;
}

.stripeWrap {
  max-width: 36rem;
  padding: 1.5rem;
  margin: 0 auto;
}

.stripe--hero .stripeWrap {
  padding: 2rem 1rem;
}

.stripe--press .stripeWrap {
  padding: 1.5rem 0;
}

.btn--heroCTA {
  display: inline-block;
  padding: 1rem 3rem;
  background-color: #A82F30;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  margin: 2rem 0 0 0;
  letter-spacing: 0.03em;
}

.learnMoreArrow {
  height: .75rem;
  width: 1.6875rem;
  display: block;
  position: absolute;
  bottom: .5rem;
  left: 50%;
  margin-left: -0.84375rem;
  background-color: transparent;
  background-image: url("images/downArrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  text-indent: -99999px;
  overflow: hidden;
  opacity: .1;
}

header {
}

.stripe--training .stripeWrap {
  padding-bottom: 1.5rem;
}

.stripe--trainingComponents {
  background-color: #F4F4F4;
  margin-bottom: 1.5rem;
  -webkit-clip-path: polygon(100% 15%, 100% 100%, 0 85%, 0% 0%);
  clip-path: polygon(100% 0, 100% 15%, 50% 100%, 0 85%, 0% 0%);
  padding: 4rem 0;
}

.trainingList {
  list-style: none; 
  text-align: center;
  max-width: 45rem;
  margin: 0 auto;
}
.trainingListItem {
  width: 33%;
  float: left;
  padding: 8% 0;
}

.trainingIcon {
  height: 3rem;
  width: 3rem;
  display: inline-block;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  margin-bottom: .5rem;
}

.trainingIcon--strength {
  background-image: url("images/strength-icon.svg");
}

.trainingIcon--conditioning {
  background-image: url("images/conditioning-icon.svg");
}

.trainingIcon--core {
  background-image: url("images/core-icon.svg");
}

.trainingIcon--nutrition {
  background-image: url("images/nutrition-icon.svg");
}

.trainingIcon--education {
  background-image: url("images/education-icon.svg");
}

.trainingIcon--flexibility {
  background-image: url("images/flexibility-icon.svg");
}

.trainingIcon--access {
  background-image: url("images/access-icon.svg");
}

.programIcon {
  height: 3rem;
  width: 3rem;
  display: inline-block;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  margin-bottom: 1rem;
}

.programIcon--inPersonTraining {
  background-image: url("images/in-person-training.svg");
}

.programIcon--remoteCoaching {
  height: 3.5rem;
  background-image: url("images/remote-coaching.svg");
}

.programOption { 
  margin-bottom: .5rem;
}

.programOption .programIcon { 
  float: left;
  margin-right: 1rem;
}

.programOption .programDetails {
  float: left;
}

.programOptionWrap {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: rgba(244,244,244,0.2);
}

.testimonial {
  border-top: 1px solid #D4D4D4;
  border-bottom: 1px solid #D4D4D4;
  padding: 1rem 0;
  margin: 1.5rem 0 4.5rem 0;
}

.testimonial:last-child {
  margin-bottom: 1.5rem;
}

blockquote {
  font-style: italic;
}

blockquote footer {
  font-size: .75rem;
  font-weight: 800;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: left;
  font-style: normal;
}

.stripe--press {
  background-color: #F4F4F4;
  text-align: center;
  margin-bottom: 1.5rem;
  -webkit-clip-path: polygon(100% 15%, 100% 100%, 0 85%, 0% 0%);
  clip-path: polygon(100% 0, 100% 15%, 50% 100%, 0 85%, 0% 0%);
  padding: 4rem 0;
}

.pressLogosList {
  list-style: none; 
  text-align: center;
}
.pressLogosListItem {
  width: 49%;
  float: left;
  padding: 0 1rem;
}

.pressLogo {
  width: 8rem;
  height: 4rem;
  display: inline-block;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.pressLogo--mensHealth {
  background-image: url("images/mens-health.svg");
}

.pressLogo--mensFitness {
  background-image: url("images/mens-fitness.svg");
}

.pressLogo--womensHealth {
  background-image: url("images/womens-health.svg");
}

.pressLogo--shape {
  height: 2rem;
  margin: 1rem 0;
  background-image: url("images/shape.png");
}

.pressLogo--vanityFair {
  background-image: url("images/vanity-fair.svg");
}

.pressLogosListItem--livestrong {
  padding: 0;
}

.pressLogo--livestrong {
  background-image: url("images/livestrong.svg");
}

.stripe--about img {
  display: block;
  width: 10rem;
  margin: 0 auto 1.5rem auto;
}

.stripe--about h4 {
  margin-bottom: .5rem;
}

.bookCover {
  display: block;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);

}

footer {
  font-size: .625rem;
  text-align: center;
}

.socialIcons {
  list-style: none;
  text-align: center;
  margin: 3rem 0 1rem 0;
}

.socialIcons li {
  display: inline-block;
  margin-right: 2.5rem;
}

.socialIcons li:last-child {
  margin-right: 0;
}

.socialIcon {
  display: inline-block;
  width: 1.75rem;
  height: 1.75rem;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 0 0;
  text-indent: -999999px;
  overflow: hidden;
  text-indent: -99999px;
  overflow: hidden;
}

.socialIcon--facebook {
  background-image: url("images/facebook-icon.svg");
}

.socialIcon--facebook:hover,
.socialIcon--facebook:focus,
.socialIcon--facebook:active {
  background-image: url("images/facebook-icon-red.svg");
}

.socialIcon--instagram {
  background-image: url("images/instagram-icon.svg");
}

.socialIcon--instagram:hover,
.socialIcon--instagram:focus,
.socialIcon--instagram:active {
  background-image: url("images/instagram-icon-red.svg");
}

.socialIcon--twitter {
  background-image: url("images/twitter-icon.svg");
}

.socialIcon--twitter:hover,
.socialIcon--twitter:focus,
.socialIcon--twitter:active {
  background-image: url("images/twitter-icon-red.svg");
}

.socialIcon--youtube {
  background-image: url("images/youtube-icon.svg");
  width: 2.25rem;
}

.socialIcon--youtube:hover,
.socialIcon--youtube:focus,
.socialIcon--youtube:active {
  background-image: url("images/youtube-icon-red.svg");
}

.socialIcon--googlePlus {
  background-image: url("images/google-plus-icon.svg");
}

.socialIcon--googlePlus:hover,
.socialIcon--googlePlus:focus,
.socialIcon--googlePlus:active {
  background-image: url("images/google-plus-icon-red.svg");
}

.stripe {
  opacity: 0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:.5s;
  -moz-animation-duration:.5s;
  animation-duration:.5s;
}

.stripe:not(.stripe--hero) {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

@-webkit-keyframes fadeIn { 
  from { 
    opacity:0;
    transform: translate(0,1rem);
     
  } 
  to { 
    opacity:1; 
    transform: translate(0,0);
  } 
}

//@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
//@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

@media only screen and (max-width: 20rem) {
  .stripe--hero {
    height: 30vh;
  }
  .stripe--headline {
    height: 60vh;
  }
  h2 {
    font-size: 1.25rem;
    margin-bottom: 1.25rem;
  }
  .programIcon--remoteCoaching {
    width: 2rem;
  }
  .stripe--headline .description {
    padding: 0 1rem;
  }
  .socialIcons li {
    margin-right: 1.5rem;
  }
}

@media only screen and (min-width: 30rem) {
  .stripe--headline .description {
    padding: 0 5rem;
  }
}

@media only screen and (min-width: 40rem) {
  .stripe--about img {
    float: left;
    margin: 0 1rem 5rem 0;
  }
  h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }
  .stripe--headline {
    height: 45vh;
  }
  .stripe--headline hgroup {
    margin-top: 2em;
  }
  .stripe--hero {
    -webkit-clip-path: polygon(100% 0%, 100% 100%, 0 75%, 0% 0%);
    clip-path: polygon(100% 0, 100% 0%, 100% 100%, 0 75%, 0% 0%);
  }
  .stripe--headline {
    height: 45vh;
  }
  .stripe--companies,
  .stripe--trainingComponents,
  .stripe--press {
    -webkit-clip-path: polygon(100% 25%, 100% 100%, 0 75%, 0% 0%);
    clip-path: polygon(100% 0, 100% 25%, 50% 100%, 0 75%, 0% 0%);
    padding: 8rem 0;
  }
  .stripe--companies {
    padding: 10rem 0;
  }
  .socialIcons {
    margin-top: 6rem;
  }
}

@media only screen and (min-width: 60rem) {
  .learnMoreArrow {
    bottom: 0;
  }
  .stripe--headline hgroup {
    margin-top: 0;
  }
}

@media only screen and (min-width: 49rem) {
  .learnMoreArrow {
    display: none;
  }
}

@media only screen and (min-width: 42rem) {
  .learnMoreArrow {
    display: none;
  }
}
