/* Fonts */

@font-face {
    font-family: 'circular';
    src: url('fonts/circular-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'circular';
    src: url('fonts/circular-book.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'circular';
    src: url('fonts/circular-bookitalic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}



/* Reset */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, b, i, ol, ul, li, figure, figcaption, footer, header, hgroup {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: inherit;
  text-decoration: none;
  box-sizing: border-box;
}

/* Stuff */
html, body {
  width: 100%;
  height: 100%;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  font-family: "circular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 137.5%;
  color: #5A483D;
  background-color: #F9F9F0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

img {
  width: 100%;
  align: text-top;
}

a:hover,
a:focus,
a:active {
  outline: none;
}

.u-clearfix {
  zoom:1;
}

.u-clearfix:before,
.u-clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

.u-clearfix:after {
  clear: both;
}


h1,h2,h3,h4,h5,h6 {
  font-weight: 700;
  line-height: 1;
}
/*h1 { font-size: 2.5rem; }
h2 { font-size: 1.5rem; }*/


h1 {
  font-size: 2rem;
  line-height: 1.125;
  letter-spacing: -.015em;
}

h2 {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.375;
  color: rgba(90,72,59,0.5);
}

h3 {
  font-size: 1.375rem;
  line-height: 1.375;
}


.backLink {
  width: .625rem;
  height: 1.25rem;
  display: block;
  background-image: url("images/left-arrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  text-indent: -99999px;
  overflow: hidden;
}

.backLink,
.nextLink {
  width: .5rem;
  height: 1rem;
  display: block;
  background-image: url("images/left-arrow.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  text-indent: -99999px;
  overflow: hidden;
}

.nextLink {
  transform:scaleX(-1);
}

.helpLink {
  display: block;
}

.helpLink:before {
  content: "";
  width: 1.25em;
  height: 1.25em;
  display: inline-block;
  margin-right: .5rem;
  position: relative;
  top: .25em;
  background-image: url("images/help.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}

.wrap {
  padding: 1.5rem;
}

.bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.stuckBottomButtonWrap {
  padding: 2.5rem 1.5rem 1.5rem 1.5rem;
  background-image: linear-gradient(rgba(249,249,240,0) 0%, rgba(249,249,240,0.9) 30%);
}

.btn {
  display: block;
  width: 100%;
  padding: 1rem;
  color: white;
  font-weight: 700;
  text-align: center;
  border: 0;
  font-size: 1rem;
  border-radius: .5rem;
  background-color: #C6ED2E;
  box-shadow: 0 1px 3px rgba(90,72,61,.2);
  -webkit-appearance: none;
  user-select: none;
}

nav {
  padding-bottom: 1.5rem;
}

nav .closeLink,
nav .backLink {
  float: left;

}
nav .helpLink {
  float: right;
  margin-top: -.25rem;
}



/* Lesson */
.hero {
  position: relative;
  height: 100vw;
  background-color: #ACA399;
  background-image: url("images/cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 1.5rem;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(125deg, rgba(90,72,61,0.50) 55%, rgba(90,72,61,0.0) 75%);
}

.hero hgroup {
  z-index: 2;
  position: absolute;
  right: 1.5rem;
  bottom: 1.5rem;
  left: 1.5rem;
  margin-bottom: 0;
}

.hero h1 {
  padding-right: 5rem;
  margin-bottom: .5rem;
  color: #FFFFF6;
}

.hero h2 {
  text-indent: .25rem;
  color: #FFFFF6;
}

.videoPlayButton {
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  z-index: 2;
  text-indent: -99999px;
  overflow: hidden;
  background-image: url("images/play.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  -webkit-tap-highlight-color: transparent;
}

#lesson .videoPlayButton {
  position: relative;
  z-index: 2;
}

#lesson .helpLink {
  color: white;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}

#lesson .helpLink:before {
  background-image: url("images/help-white.svg");
}

.listWrap {
  padding: 1.5rem;
}

.listWrap h2 {
  color: #ACA399;
  margin-bottom: .75rem;
}

.tileList {
  list-style: none;
}

.tileList li {
  display: block;
  
}

.tileList li a {
  display: block;
  background-color: white;
  border-radius: .5rem;
  box-shadow: 0 1px 3px rgba(90,72,61,.2);
  margin-bottom: .75rem;
  padding: 1rem;
}

.sessionInfo {
  padding-right: 3.25rem;
}

.sessionTitle {
  font-size: 1.125rem;
  line-height: 1.25;
  margin-bottom: .25rem;
}

.sessionLede {
  font-size: .875rem;
  line-height: 1.375;
}

.sessionStatus {
  float: right;
  width: 1.25rem;
  height: 1.25rem;
  text-indent: -99999px;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  position: relative;
  top: .0625rem;
}

.session .sessionStatus {
  display: none;
}

.session-locked .sessionStatus {
  background-image: url("images/locked-icon.svg");
}

.session-next .sessionStatus {
  background-image: url("images/next-icon.svg");
}

.session-completed .sessionStatus {
  background-image: url("images/completed-icon.svg");
}

.session-locked {
  color: #E5E3D9;
}

.session-theory-video {
}

.session-theory-video .sessionTitle:before {
  content: "";
  width: 1em;
  height: 1em;
  display: inline-block;
  margin-right: .5rem;
  position: relative;
  top: .1875em;
  background-image: url("images/play-brown.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}

.session-theory-video.session-locked .sessionTitle:before {
  opacity: .25;
}

.session-theory-video .sessionStatus {
  float: right;
  width: 1.25rem;
  height: 1.25rem;
  text-indent: -99999px;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

/* Session Detail */

hgroup {
  margin-bottom: 1.5rem;
}

hgroup h2 {
  margin-bottom: .5rem;
}

.sessionDetailList {
  list-style: none;
}

.sessionDetail {
  padding: 1.25rem 0;
  border-bottom: 1px solid #E5E3D9;
  position: relative;
}

.sessionDetail:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 3rem;
  height: 2rem;
  margin-top: -1rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.sessionDetail--off:after {
  opacity: .125;
}

.sessionDetail:first-child {
  border-top: 1px solid #E5E3D9;
}

.sessionDetail.session-five-minutes:after {
  background-image: url("images/session-five-minutes.svg");
  height: 1.75rem;
  margin-top: -0.875rem;
}

.sessionDetail.session-indoors:after {
  background-image: url("images/session-indoors.svg");
}

.sessionDetail.session-food-treats:after {
  background-image: url("images/session-food-treats.svg");
}

.sessionDetail.session-distractions:after {
  background-image: url("images/session-distractions.svg");
}


/* Prompt Slides */
.prompt-slide {
}

.prompt-slide hgroup {
  margin: 3rem 0 1.5rem 0;
}

.onboarding-slide hgroup {
  margin: 5rem 0 0 0;
}

h1 strong, 
h2 strong,
h3 strong {
  color: #FF5F2B;
}

.ranking-slide h3 strong {
  color: #C6ED2E;
}

.progressBar,
.progressBarProgress {
  height: 1rem;
  border-radius: 99999px;
}

.progressBar {
  background-color: #D8D8D8;
  overflow: hidden;
}

.progressBarProgress {
  background-color: #C6ED2E;
  border-radius: 99999px 0 0 99999px;
  transition: width 1s;
  transition-delay: .5s;
}

.progressBarLabel {
  display: block;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.375;
  color: rgba(90,72,59,0.5);
  margin-bottom: .5rem;
}

.progressBarLabel--ending {
  float: right;
}

.formInputGroup {
  border: 0;
  margin: 0;
  padding: 0;
}
/* Feedback Form */
.formInputBlock {
  margin: 3rem 0 0 0;
  padding: .25rem 0;
  font-family: "circular", sans-serif;
  font-size: 1rem;
  line-height: 137.5%;
  border: 0;
  border-bottom: 1px solid #E5E3D9;
  background-color: transparent;
  color: #5A483D;
  box-sizing: border-box;
  width: 100%;
  -webkit-appearance: none;
  border-radius: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.formInputBlock:hover,
.formInputBlock:focus,
.formInputBlock:active {
  outline: none;
  border-bottom-color: #5A483D;
}

#rateYo {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
}


/* Swiper */
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {

  /* Me, not the demo */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.technique-slide {
  background-color: #5A483D;
  color: #F9F9F0;
}

.swiper-pagination-progress {
}
.swiper-pagination-progress .swiper-pagination-progressbar {
}

.swiper-slide video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.overVideo {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 2rem;
  z-index: 4;
  text-align: left;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.3));
  color: white;
}

.overVideo h3 {
  margin-bottom: .5rem;
  text-align: center;
  color: white;
}

.fullBleedOverlay {
  position: absolute;
  top: 2rem;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("images/gear.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top left;
  z-index: 4;
}

#lesson-title-slide {
  text-align: center;
  background-image: url("images/lesson.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  color: white;
  padding: 14rem 1rem 1rem 1rem;
}

.scrim {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.3);
  z-index: 1;
}

.swiper-pagination {
  bottom: auto;
  top: .65rem;
  z-index: 4;
}

.swiper-pagination-bullet {
  background: rgba(0,0,0,0.5);
}

.swiper-pagination-bullet-active {
  background: #FFC268;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet:not(:last-child) {
  margin: 0 .75rem;
}

.swiper-container-horizontal>.swiper-pagination-bullets {
  bottom: auto;
}

.swiper-button-prev {
  position: absolute;
  top: 1.5rem;
  left: 0;
  width: 2.5rem;
  height: 2.5rem;
  z-index: 5;
  text-indent: -99999px;
  overflow: hidden;
  background-image: url("images/back-arrow.svg");
  background-repeat: no-repeat;
  background-size: 1.25rem 1rem;
  background-position: center center;
  -webkit-tap-highlight-color: transparent;
}

.swiper-button-next {
  position: absolute;
  top: 1.5rem;
  right: 0;
  width: 2.5rem;
  height: 2.5rem;
  z-index: 5;
  text-indent: -99999px;
  overflow: hidden;
  background-image: url("images/back-arrow.svg");
  background-repeat: no-repeat;
  background-size: 1.25rem 1rem;
  background-position: center center;
  -webkit-tap-highlight-color: transparent;
  transform:scaleX(-1);
}

.timer-slide {
  background-color: black;
  color: #FFFFF6;
  text-align: center;
  padding: 12rem 5rem 0 5rem;
}

.timer {
  font-size: 4rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.timer-reminder {
  color: rgba(255,255,246,0.5);
}

.timer-slide .stuckBottomButtonWrap {
  background: none;
}

.timer-slide .btn {
  background: transparent;
  border: 1px solid rgba(255,255,240,0.33 );
}

.inlineVideoCover {
  height: 50vw;
  position: relative;
  background-color: #ACA399;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.inlineVideoCover:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(125deg, rgba(90,72,61,0.50) 55%, rgba(90,72,61,0.0) 75%);
}

.inlineVideoCover .videoPlayButton {
  position: relative;
  z-index: 2;
}

.prose a {
  color: #FF5F2B;
  font-weight: 700;
}
.prose h3 {
  line-height: 1.2;
  margin-top: 2rem;
  margin-bottom: .5rem;
}
.prose p {
  margin-bottom: 1rem;
}

.inlineVideoCover.premack {
  background-image: url("images/premack-video-cover.jpg");
}

.fleuron {
  height: 1rem;
  background-color: transparent;
  background-image: url("images/fleuron.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  margin: 3rem 0 1rem 0;
}