/* Fonts */

@font-face {
    font-family: 'circular';
    src: url('fonts/circular-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'circular';
    src: url('fonts/circular-book.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'circular';
    src: url('fonts/circular-bookitalic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}



/* Reset */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, b, i, ol, ul, li, figure, figcaption, footer, header, hgroup {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: inherit;
  text-decoration: none;
  box-sizing: border-box;
}

/* Stuff */
html, body {
  width: 100%;
  height: 100%;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  font-family: "circular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 137.5%;
  color: #5A483D;
  background-color: #F9F9F0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

img {
  width: 100%;
  align: text-top;
}


h1,h2,h3,h4,h5,h6 {
  font-weight: 700;
  line-height: 1;
}
/*h1 { font-size: 2.5rem; }
h2 { font-size: 1.5rem; }*/


h1 {
  font-size: 2rem;
  line-height: 1.125;
  letter-spacing: -.015em;
}

h2 {
  font-weight: 400;
  font-size: 0.875rem;
}

.helpLink {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}

.helpLink:before {
  content: "";
  width: 1.25em;
  height: 1.25em;
  display: inline-block;
  margin-right: .5rem;
  position: relative;
  top: .25em;
  background-image: url("images/help.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}



/* Lesson */
.hero {
  position: relative;
  height: 100vw;
  background-color: #ACA399;
  background-image: url("images/cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 1.5rem;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(125deg, rgba(90,72,61,0.50) 55%, rgba(90,72,61,0.0) 75%);
}

.hero hgroup {
  color: #FFFFF6;
  z-index: 2;
  position: absolute;
  right: 1.5rem;
  bottom: 1.5rem;
  left: 1.5rem;
}

.hero h1 {
  padding-right: 5rem;
  margin-bottom: .5rem;
}

.hero h2 {
  text-indent: .25rem;
}

.videoPlayButton {
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  z-index: 2;
  text-indent: -99999px;
  overflow: hidden;
  background-image: url("images/play.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  -webkit-tap-highlight-color: transparent;
}

.lesson .helpLink {
  color: white;
}

.lesson .helpLink:before {
  background-image: url("images/help-white.svg");
}

.tileListWrap {
  padding: 1.5rem;
}

.tileListWrap h2 {
  color: #ACA399;
  margin-bottom: .75rem;
}

.tileList {
  list-style: none;
}

.tileList li {
  display: block;
  
}

.tileList li a {
  display: block;
  background-color: white;
  border-radius: .5rem;
  box-shadow: 0 1px 3px rgba(90,72,61,.2);
  margin-bottom: .75rem;
  padding: 1rem;
}

.sessionDetail {
  padding-right: 3.25rem;
}

.sessionTitle {
  font-size: 1.125rem;
  line-height: 1.25;
  margin-bottom: .25rem;
}

.sessionLede {
  font-size: .875rem;
  line-height: 1.375;
}

.sessionStatus {
  float: right;
  width: 1.25rem;
  height: 1.25rem;
  text-indent: -99999px;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  position: relative;
  top: .0625rem;
}

.session .sessionStatus {
  display: none;
}

.session-locked .sessionStatus {
  background-image: url("images/locked-icon.svg");
}

.session-next .sessionStatus {
  background-image: url("images/next-icon.svg");
}

.session-completed .sessionStatus {
  background-image: url("images/completed-icon.svg");
}

.session-locked {
  color: #E5E3D9;
}

.session-theory-video {
}

.session-theory-video .sessionTitle:before {
  content: "";
  width: 1em;
  height: 1em;
  display: inline-block;
  margin-right: .5rem;
  position: relative;
  top: .1875em;
  background-image: url("images/play-brown.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}

.session-theory-video.session-locked .sessionTitle:before {
  opacity: .25;
}

.session-theory-video .sessionStatus {
  float: right;
  width: 1.25rem;
  height: 1.25rem;
  text-indent: -99999px;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}



/* Swiper */
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  background: #fff;

  /* Me, not the demo */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  color: black;
}
/*.swiper-pagination-progress {
  background: rgba(0,0,0,.1);
}
.swiper-pagination-progress .swiper-pagination-progressbar {
  background: rgba(0,0,0,.5);
}
*/


.swiper-slide video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.overVideo {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 2rem;
  z-index: 4;
  text-align: left;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.3));
  color: white;
}

.overVideo h2 {
  margin-bottom: .5rem;
  text-align: center;
}

.fullBleedOverlay {
  position: absolute;
  top: 2rem;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("images/gear.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top left;
  z-index: 4;
}

.lesson-title-slide {
  text-align: center;
  background-image: url("images/lesson.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  color: white;
  padding: 14rem 1rem 1rem 1rem;
}

.scrim {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.3);
  z-index: 1;
}

.swiper-pagination {
  bottom: auto;
  top: .65rem;
  z-index: 4;
}

.swiper-pagination-bullet {
  background: rgba(0,0,0,0.5);
}

.swiper-pagination-bullet-active {
  background: #FFC268;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet:not(:last-child) {
  margin: 0 .75rem;
}

.swiper-container-horizontal>.swiper-pagination-bullets {
  bottom: auto;
}

.swiper-button-prev {
  position: absolute;
  top: 1.5rem;
  left: 0;
  width: 2.5rem;
  height: 2.5rem;
  z-index: 5;
  text-indent: -99999px;
  overflow: hidden;
  background-image: url("images/back-arrow.svg");
  background-repeat: no-repeat;
  background-size: 1.25rem 1rem;
  background-position: center center;
  -webkit-tap-highlight-color: transparent;
}

.swiper-button-next {
  position: absolute;
  top: 1.5rem;
  right: 0;
  width: 2.5rem;
  height: 2.5rem;
  z-index: 5;
  text-indent: -99999px;
  overflow: hidden;
  background-image: url("images/back-arrow.svg");
  background-repeat: no-repeat;
  background-size: 1.25rem 1rem;
  background-position: center center;
  -webkit-tap-highlight-color: transparent;
  transform:scaleX(-1);
}

.start-session-slide {
  background-color: black;
  color: white;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
