/* PJ STRIET */

html, body, div, h1, h2 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: inherit;
  text-decoration: none;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background-color: #FFFFFF;
  font: normal 400 16px/150% "jaf-facitweb", sans-serif;
  color: #252522;
}

.wrap {
  display: block;
  text-align: center;
  margin-top: 25%;
  opacity: 0;
  animation:fadeIn ease-in 1;
  animation-fill-mode:forwards;
  animation-duration:.5s;
}

h1 {
  font-size: .75rem;
  font-weight: 800;
  text-transform: uppercase;
}

h2 {
  font-size: 1.5rem;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 1.5rem;
}

.icon {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  margin: 0 auto 2rem auto;
  background-image: url("images/pj-icon-red.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 0 0;
  text-indent: -999999px;
  overflow: hidden;
}

@-webkit-keyframes fadeIn { 
  from { 
    opacity:0;
    transform: translate(0,1rem);
     
  } 
  to { 
    opacity:1; 
    transform: translate(0,0);
  } 
}

@media only screen and (max-width: 20rem) {
  h2 {
    font-size: 1.25rem;
    margin-bottom: 1.25rem;
  }
}

@media only screen and (min-width: 40rem) {
  h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }
}
